body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    padding-top: 44px; /*space inside*/
}

*{
    box-sizing: border-box; /*for all elements*/
}
.container {
   
    max-width: 1500px;
    margin:auto; /* we put header in center */
}

.header 
{
    display: flex;  /*objects will stay in one line*/
    align-items: center; /*realtively center */
    justify-content: space-between; /*there are spaces between objects*/
    
    margin-bottom: 40px;

}
.input 
{
      /* Gray / gray-1 */

background: #FFFFFF;
/* Gray / gray-5 */

border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 2px;
font-size:16px;
line-height: 24px;
}
.input-search
{  
    display: flex;
    margin-left: 1200px;
    bottom: 120px;
   
}

.search-input {  /*line of search*/
    /* Gray / gray-1 */

background: #FFFFFF;
/* Gray / gray-5 */

border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 2px;
height: 40px;
width:  690px;
font-size:16px;
line-height: 24px;
background-image: url(./img/home.jpg); /*img in line of search*/
background-repeat:no-repeat ;
background-position: left 11px center;
padding-left: 35px;

}

.button {
    padding : 8px 16px;

    /* Gray / gray-1 */

background: #FFFFFF;
/* Gray / gray-5 */

border: 1px solid #D9D9D9;
box-sizing: border-box;
/* ghost button shadow */

box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
border-radius: 2px;

color : #595959;

font-size: 16px;
line-height: 24px;
}
.button-primary
{

    padding : 8px 16px;
    /* Gray / gray-5 */
  color : #fff;
    background: #189;
border: 1px solid #D9D9D9;
box-sizing: border-box;
/* ghost button shadow */

box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
border-radius: 2px;

font-size: 16px;
line-height: 24px;
margin-right: 10px;

}
.promos 
{
box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
background: #FFF1B8 url(./img/swetik.png) top right; /*cover of top site*/
border-radius: 10px;
padding: 68px 78px;
background-repeat: no-repeat;
margin-bottom: 56px;

}




.foodtext
{
    max-width: 100 ;
}

.section-heading
{  
    display: flex;
    align-items:center ;
    justify-content: space-between;
    margin-bottom: 44px;
}

.cards
{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
}

.card 
{
   background-color: #FFFFFF;
   box-shadow: 0px 4px 12px rgba(0,0,0,0.05);
   border-radius: 7px;
   overflow: hidden;
   text-decoration: none;
}

.card-image
{
    width: 384px;
    height: 250px;
    object-fit: cover;
}
.card-text 
{
   padding-top: 20px;
   padding-bottom: 35px;
   padding-left: 23px;
}
.card-heading 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-title
{   margin: 0;
    font-style: normal;
    font-weight: bold ;
    font-size: 24px;
    line-height: 32px;

}

.card-tag {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    background: #262626;
    border-radius: 2px;
    padding: 1px 8px;
}
.card-info {
    display: flex;
    align-items: center;
}
.rating 
{
    margin-right: 26px;
    color : #ffc107;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    margin-left: 10px;

}

.price , .category 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */
    
    
    /* Gray / gray-7 */
    
    color: #8C8C8C;
    
}
.price 
{
    margin-right: 10px;
}

.footer {
    padding: 60px 0 ; 
}

.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav
{ 
/*to left side*/
   margin-right: auto;   
}

/*text in footer*/
.footer-link
{
    display: inline-block;
    color: #555959;
    font-style:normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;

}
/*for all elements except last one*/
.footer-link:not(:last-child)
{
    margin-right: 15px;
}
.social-links :not(:last-child){
    margin-right: 31px;
}

.modal
{
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}
.modal-dialog
{
    max-width : 780px;
    width: 95%;
    height: 552.px;
 

    background: #ffffff;
    border-radius: 5px;
}

.integrients
{
    color: #8c8c8c;
    font-size: 18px;
    line-height: 21px;
}



